.featurex-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 16px;
    padding-left: 0;
    margin-bottom: 40px;
    position: relative;
  }
  
  .featurex-box:hover {
    transform: translateY(-10px);
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */

  }
  
 .featurex-box {
    padding: 16px;
    padding-left: 0;
    margin-bottom: 40px;
    position: relative;
  }
 .featurex-box:after {
    content: "";
    display: table;
    clear: both;
  }
 .featurex-box img {
    width: 94px;
    margin-top: -16px;
    position: absolute;
  }
 .featurex-box > div {
    margin-left: 110px;
  }
 .featurex-box > div h3 {
    color: #252529;
    margin: 0 0 8px 0;
    font-size: 17px;
    font-weight: 500;
  }
 .featurex-box > div p {
    color: #65656a;
    font-size: 14px;
    margin: 0;
  }


  .landing-body .landing-wrapper .landing-header .landing-topbar ul li a {
    color: #f8e7dc;
    padding: 7px 14px 6px 14px;
    font-size: 14px;
    cursor: pointer;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }



  .landing-topbar {
    display: flex;
    justify-content: space-between; /* Poravnavanje elemenata na početak i kraj */
    align-items: center; /* Vertikalno poravnanje */
    background-color: #750404;
    padding: 10px;
  }
  
  .landing-topbar span {
    display: inline-flex;
    align-items: center;
  }
  
  .layout-profile-name {
    display: flex;
    justify-content: flex-end; /* Poravnanje sa desne strane */
    align-items: center;
  }
  
  .layout-profile-name.mobile-menu {
    display: none; /* Prikazivanje samo na mobilnim uređajima */
  }
  
  /* Ovisno o širem ekranu, menja se stil */
  @media (max-width: 1024px) {
    .layout-profile-name.desktop-menu {
      display: none; /* Prikazivanje samo na desktop verziji */
    }
  
    .layout-profile-name.mobile-menu {
      display: flex; /* Mobilna verzija menija */
    }
  }
  

  